.container{
text-align: center;
margin-top: 50px;
padding-top: 150px;
font-family: 'Questrial', sans-serif;
}

.row{
    text-align: center;
    padding-top: 150px;
    font-family: 'Questrial', sans-serif;
    }
    
